<div {{action 'minimizeImage'}} class="minimize-image"></div>
{{image-holder imageSource=imageUrl hasOrientation=hasOrientation}}
{{#if captionName}}
	<div class="caption-holder">
		Photo: <a href={{captionLink}} target="_blank">{{captionName}}</a> {{captionCc}}
	</div>
{{/if}}
<div class="orientation-button icon-rotate {{if orientationService.isOn 'is-on'}}" {{action 'toggleOrientation'}}></div>