<div class="card-position-marker"></div>
<div class="image-container {{if firstPhotoOff 'bottom'}}" style={{photoStyle1}}></div>
{{#if withImageRotation}}
	<div class="image-container {{unless firstPhotoOff 'bottom'}}" style={{photoStyle2}}></div>
{{/if}}
<div class="image-bottom-box">
	<div class="vertical-center-parent">
		{{#if addedDescription}}
			<div class="addedDescription">{{addedDescription}}</div>
		{{/if}}
		{{#if withIndex}}
		<div class="index">{{index}}</div>
		{{/if}}
		<div class="name">{{model.name}}</div>
		<div class="type">{{model.itemTypeName}}
			{{#if model.parentName}}
				in {{model.parentName}}
			{{/if}}
		</div>
		{{#if model.captionName}}
			<div class="caption-holder">
				Photo: <a href={{model.captionLink}} target="_blank">{{model.captionName}}</a> {{model.captionCc}}
			</div>
		{{/if}}
	</div>
</div>
<div class="info-box">
	<div class="show-button" {{action 'showInfo'}}></div>
</div>