{{info-close closeAction=(action 'toggleOpen')}}
<div class="info-container">
	<div class="name">{{model.name}}</div>
	<div class="type">{{model.itemTypeName}}
		{{#if model.parentName}}
			in {{#link-to "item.highlights" model.parentSlug}}{{model.parentName}}{{/link-to}}
		{{/if}}
	</div>
	<div class="oneliner">{{model.oneliner}}</div>
	{{#if model.reviewDigest}}
		{{#unless withReviews}}
			<div class="reviews" {{action 'toggleReviews'}}>
				Recommended by:
				{{#each model.reviewedByArray as |review|}}
					<div class="review-box {{review.class}}"></div>
				{{/each}}
				▼
			</div>
		{{else}}
			<div class="reviews-holder">
				Read more on:
				{{#each reviews as |review|}}
					<div class="review-box {{review.review_class}}">
						<a href={{review.source_link}} class="review-link" target="_blank"></a>

						<div class="review-highlight"></div>
					</div>
				{{/each}}
				<div class="close" {{action 'toggleReviews'}}>✕</div>
			</div>
		{{/unless}}
	{{/if}}
	<div class="image-holder {{if imageExpanded 'is-expanded'}}" style={{model.largeImageStyle}}>
		<div class="expand-image" {{action 'toggleExpandedImage'}}></div>
		{{#if model.captionName}}
			<div class="caption-holder">
				Photo: <a href={{model.captionLink}} target="_blank">{{model.captionName}}</a> {{model.captionCc}}
			</div>
		{{/if}}
	</div>
	{{map-placeholder withExpand='true'}}
	<div class="action-bar">
		<a href={{model.mapLink}} class="directions action-btn icon-nav">Directions</a>
		{{#if model.phone}}
			<a href={{model.phoneLink}} class="phone action-btn icon-phone">Call</a>
		{{/if}}
		{{#if model.websiteLink}}
			<a target="_blank" href={{model.websiteLink}} class="website action-btn icon-info">Website</a>
		{{/if}}
	</div>
	<div class="long-desc">{{{model.longDesc}}}</div>
</div>
{{#if model.canHaveChildren}}
	{{#link-to "item.highlights" model.slug class="page-link"}}Explore: Great things to do in {{model.name}}
	▶ {{/link-to}}
{{/if}}
<div class="show-button" {{action 'toggleOpen'}}></div>
<div class="add-button" {{action 'toggleSaved'}}>★</div>
