{{screen-dims screenHeight=10 screenWidth=0}}
{{side-menu}}
<div id="original-map-placeholder">{{google-map}}</div>
{{#gesture-recognizer}}
	<div style="overflow: auto">
		{{outlet}}
	</div>
{{/gesture-recognizer}}
{{remove-screen}}
{{expanded-map}}
{{stop-scroll}}
<div id="back-indicator">Going back!</div>
