{{screen-dims screenHeight=10 screenWidth=0}}
{{side-menu}}
{{right-card}}
<div id="original-map-placeholder">{{google-map}}</div>
{{#gesture-recognizer recognizers="tap press"}}
	<div style="overflow: auto" class="main-window">
		{{outlet}}
	</div>
{{/gesture-recognizer}}
{{remove-screen}}
{{expanded-map}}
{{stop-scroll}}
{{feed-back}}
<div id="back-indicator">Going back!</div>
<div class="loader">Loading</div>
