{{screen-dims screenHeight=10 screenWidth=0}}
{{side-menu}}
<div id="original-map-placeholder">{{google-map}}</div>
{{#gesture-recognizer}}
	{{outlet}}
{{/gesture-recognizer}}
{{remove-screen}}
{{expanded-map}}
{{stop-scroll}}
